<div class="sidebar-offcanvas">
  <div class="offcanvas-inner panel-offcanvas">
    <div class="offcanvas-heading clearfix">
      <button data-toggle="offcanvas" class="btn btn-danger" type="button"><span class="fa fa-close"></span></button>
    </div>
    <div class="offcanvas-body">
      <div class="inner">
        {{ offcanvas }}
      </div>  
    </div>
  </div>
</div>