<div class="quick-search-form">  
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control" />
   <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
</div>


