<div class="input-group pa-colorpicker-input" title="Using data-color attribute in the input">
	<input type="text" name="{{ item.name }}" class="form-control" value="{{ item.value ? item.value : '' }}" data-color="{{ item.value ? item.value : '' }}"/>
	<span class="input-group-addon"><i></i></span>
</div>