.pavo-widget-megamenu {
  position: relative;
  cursor: pointer; }
  .pavo-widget-megamenu .vertical-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    position: relative;
    width: 100%;
    padding: 16px 20px 15px 20px; }
    .pavo-widget-megamenu .vertical-title i {
      font-size: 18px;
      padding-right: 10px;
      vertical-align: middle; }
  .pavo-widget-megamenu .pav-verticalmenu {
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transition: all 0.35s ease-out 0s;
    -o-transition: all 0.35s ease-out 0s;
    transition: all 0.35s ease-out 0s;
    left: 0;
    position: absolute;
    top: 150%;
    z-index: 999; }
  .pavo-widget-megamenu:hover .pav-verticalmenu {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    top: 100%; }

.pav-verticalmenu ul {
  margin: 0;
  padding: 0; }

.pav-verticalmenu .navbar-nav > li {
  width: 100%;
  float: left;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 20px; }
  .pav-verticalmenu .navbar-nav > li > a {
    text-transform: capitalize;
    padding: 16px 20px 15px 20px;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    color: #666; }
    .pav-verticalmenu .navbar-nav > li > a i {
      color: #212121;
      font-size: 18px;
      vertical-align: middle;
      padding-right: 15px; }
    .pav-verticalmenu .navbar-nav > li > a .caret {
      position: absolute;
      right: -10px;
      top: 40%;
      border-top: 1px solid #999;
      border-right: 1px solid #999;
      border-bottom: 0;
      border-left: 0;
      width: 7px;
      height: 7px;
      background: transparent;
      padding: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  .pav-verticalmenu .navbar-nav > li:last-child {
    border-bottom: none; }
  .pav-verticalmenu .navbar-nav > li .dropdown-menu {
    padding: 30px;
    background: #fff;
    min-width: 250px;
    visibility: hidden;
    display: block;
    top: 0;
    left: 130%;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.35s ease-out 0s;
    -o-transition: all 0.35s ease-out 0s;
    transition: all 0.35s ease-out 0s; }
    .pav-verticalmenu .navbar-nav > li .dropdown-menu li:last-child a {
      border-bottom: none; }
    .pav-verticalmenu .navbar-nav > li .dropdown-menu.level2 {
      display: none; }
    .pav-verticalmenu .navbar-nav > li .dropdown-menu .row + .row {
      margin-top: 20px; }
    .pav-verticalmenu .navbar-nav > li .dropdown-menu .products-row + .products-row {
      margin-top: 0; }
  .pav-verticalmenu .navbar-nav > li .dropdown-submenu {
    position: relative; }
    .pav-verticalmenu .navbar-nav > li .dropdown-submenu:hover > .dropdown-menu {
      top: 0px;
      display: block;
      visibility: visible;
      opacity: 1;
      filter: alpha(opacity=100);
      left: 100%; }
    .pav-verticalmenu .navbar-nav > li .dropdown-submenu > .dropdown-menu {
      position: absolute;
      left: 110%;
      -webkit-transition: all 0.35s ease-out 0s;
      -o-transition: all 0.35s ease-out 0s;
      transition: all 0.35s ease-out 0s; }
  .pav-verticalmenu .navbar-nav > li > .aligned-fullwidth {
    position: static; }
    .pav-verticalmenu .navbar-nav > li > .aligned-fullwidth > .dropdown-menu {
      width: 100% !important;
      margin-top: -2px; }
    .pav-verticalmenu .navbar-nav > li > .aligned-fullwidth .dropdown-submenu .dropdown-menu {
      margin-left: 0; }
  .pav-verticalmenu .navbar-nav > li > .aligned-right .dropdown-menu {
    left: auto;
    right: 0; }
  .pav-verticalmenu .navbar-nav > li > .aligned-right .dropdown-submenu .dropdown-menu {
    margin-right: 85%; }
  .pav-verticalmenu .navbar-nav > li > .aligned-left .dropdown-menu {
    left: 0;
    right: auto; }
  .pav-verticalmenu .navbar-nav > li > .aligned-left .dropdown-submenu .dropdown-menu {
    margin-left: 85%; }
  .pav-verticalmenu .navbar-nav > li > .aligned-center .dropdown-menu {
    left: 50%;
    translate: -50%,0; }
  .pav-verticalmenu .navbar-nav > li > .aligned-center .dropdown-submenu .dropdown-menu {
    margin-left: 85%; }
  .pav-verticalmenu .navbar-nav > li.parent {
    position: relative; }
    .pav-verticalmenu .navbar-nav > li.parent:hover .level1 {
      display: block;
      left: 100%;
      top: 0; }
  .pav-verticalmenu .navbar-nav > li:hover > .dropdown-menu {
    display: block;
    left: 100%;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); }
  .pav-verticalmenu .navbar-nav > li:hover > a {
    color: #165077; }
    .pav-verticalmenu .navbar-nav > li:hover > a:before {
      color: #165077; }

#jcii2puv {
  background-color: #3a3a3a;
  padding-left: 0px;
  padding-right: 0px; }

#jcii2sal {
  background-color: #3f3f3f; }

#jcii2sao {
  background-color: #3f3f3f; }